---
import { pageIcons } from "/constants";
import type { CategoryItem } from "/types";
import NavigationMenu from './NavigationMenu/index.astro'

type Props = {
  logo: string;
  categories: CategoryItem[];
};

const props = Astro.props;
const categories = [
  {
    _id: "",
    _sys: {
      raw: {
        createdAt: "",
        updatedAt: "",
        firstPublishedAt: "",
        publishedAt: "",
      },
      customOrder: 0,
      createdAt: "",
      updatedAt: "",
    },
    displayedName: "HOME",
    name: "home",
  },
  ...props.categories,
];
---

<header
  class="bg-slate-500 flex md:justify-center sticky top-0 h-[92px] md:h-[64px] px-[32px]"
>
  <div class="md:container w-full h-full">
    <div class="flex md:hidden justify-between h-full items-center">
      <NavigationMenu />
      <p class="font-logo text-white" style={{ fontSize: "24px" }}>
        <a href="/" rel="noopener noreferrer">
          {props.logo}
        </a>
      </p>
      <div></div>
    </div>
    <div class="hidden md:block h-full">
      <div class="flex gap-10 items-center h-full">
        {
          categories.map((category, index) => (
            <div>
              <a
                href={category._id ? `/category/${category._id}` : "/"}
                class="flex text-lg duration-100 ease-out text-white hover:bg-slate-400"
                rel="noopener noreferrer"
              >
                <div class="mt-[1.5px] mr-1"><span class='material-icons'>{pageIcons[index]}</span></div>
                <div class="">{category.displayedName}</div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</header>
