---
import PostCard from "./PostCard/index.astro";
import type { Article } from "/domain/models/article/Article";

type Props = {
  articles: Article[];
};
const { articles } = Astro.props;
---

<div
  data-articles-grid
  style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 24px;"
  class="articles-grid"
>
  {articles.map(article => <PostCard article={article} />)}
</div>

<style>
  @media (max-width: 992px) {
    .articles-grid {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  @media (max-width: 576px) {
    .articles-grid {
      grid-template-columns: 1fr !important;
    }
  }
</style>
