---
import Layout from '/layouts/Layout.astro';

export function getStaticPaths() {
  return [
    {params: {dog: 'clifford'}},
    {params: {dog: 'rover'}},
    {params: {dog: 'spot'}},
  ];
}

const { dog } = Astro.params;
---
<Layout title='good'>
  <div>いい子だ、{dog}！</div>
</Layout>
