---
import type { ArticleItem } from "/types";
import { Grid } from "@mui/material";
import PostCard from "./PostCard/index.astro";

type Props = {
  blogs: ArticleItem[];
};
const props = Astro.props;
---

<div class="grid is-col-min-12 is-column-gap-3">
  {
    props.blogs.map((post) => {
      return (
        <div class="cell">
          <PostCard blog={post} />
        </div>
      );
    })
  }
</div>
