---
import type { ArticleItem } from "/types";
import PostCard from "./PostCard/index.astro";

type Props = {
  blogs: ArticleItem[];
};
const props = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 px-4">
  {
    props.blogs.map((post) => {
      return (
        <PostCard blog={post} />
      );
    })
  }
</div>
