---
import type { Heading, TagItem, YearMonthItem } from "/types";
import { SideToc } from "./SideToc";
import ArchivePerYear from "./ArchivePerYear/index.astro";
import SideProfile from "./SideProfile/index.astro";
import SideTags from "./SideTags/index.astro";

type Props = {
  headings?: Heading[];
  tags: TagItem[];
  yearmonths: YearMonthItem[];
};
const props = Astro.props;
---

<div>
  <div>
    <div class="mb-8">
      <SideProfile />
    </div>
    <div class="mb-8">
      <SideTags tags={props.tags} />
    </div>
    <div class="mb-8">
      <ArchivePerYear yearmonths={props.yearmonths} />
    </div>
  </div>
  {
    props.headings !== undefined && (
      <div class="sticky top-4 box-border hidden lg:block">
        <SideToc client:load headings={props.headings} />
      </div>
    )
  }
</div>
