---
import PostBody from "./PostBody/index.astro";
import Header from "/presentation/components/common/Header/index.astro";
import Footer from "/presentation/components/common/Footer/index.astro";
import type { Category } from "/domain/models/article/category/Category";
import type { Tag } from "/domain/models/article/tag/Tag";
import type { YearMonth } from "/domain/models/article/yearmonth/YearMonth";
import type { Article } from "/domain/models/article/Article";

type Props = {
  article: Article;
  categories: Category[];
  tags: Tag[];
  yearmonths: YearMonth[];
  suggestedArticles: Article[];
};
const props = Astro.props;
---

<div style="background-color: var(--bg);">
  <Header categories={props.categories} />
  <PostBody article={props.article.serialize()} suggestedArticles={props.suggestedArticles} />
  <Footer categories={props.categories} />
</div>
